.submit-button[b-t057bnfk3t] {
    width: 100%;
    margin-bottom: 10px;
}

.submit-btn[b-t057bnfk3t] {
    width: 100%;
    height: 3rem;
}

.close-button[b-t057bnfk3t] {
    width: 100%;
}

.close-btn[b-t057bnfk3t] {
    width: 100%;
    height: 3rem;
}
