@inherits DataGridColumnBase

<th>
    @Label<br />
    @if (IsSearchable)
    {
        <div class="search-box">
            <InputText class="form-control" @bind-Value="Filter" @onInput="FilterChanged"></InputText>
        </div>
    }
</th>

@code {
    [Parameter]
    public EventCallback<string?> OnFilterChanged { get; set; }

    private void FilterChanged(ChangeEventArgs e)
    {
        OnFilterChanged.InvokeAsync(Filter);
    }
}

