
.completed-tasks-btn {
    border-color: #FB8500;
    color: white;
}

    .completed-tasks-btn:hover {
        background-color: #00BFFF;
    }

.dropzone-main-container {
    display: grid;
    width: 100%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas:
        "div1 div2 div8"
        "div3 div4 div5"
        "div6 div7 div5"
}
