.task-main-container[b-704d56869o] {
    
}

.task-header-container[b-704d56869o] {
    display: flex;
    vertical-align: central;
}

.task-header-container > span[b-704d56869o] {
    margin-left: 5px;
}

.journal-icon[b-704d56869o] {
    position: relative;
}

.count-container[b-704d56869o] {
    margin-left: 10px;
}

.cat-notes-container[b-704d56869o] {
    display: flex;
    justify-content: end;
}

.task-note-count[b-704d56869o] {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 5px;
}

.draggable[b-704d56869o] {
    margin-bottom: 10px;
    padding: 10px 25px;
    /*border: 1px solid #424d4c;*/
    cursor: grab;
    background: #023047;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.draggable.active[b-704d56869o] {
    cursor: grabbing;
}

.dropzone[b-704d56869o] {
    padding: .75rem;
    min-height: 40rem;   
}

.priority[b-704d56869o] {
    min-width: 20rem;
    overflow-y: scroll;
    height: 15rem;
    border: 2px solid black;
    margin-right: 10px;
}

.drop-zone-content[b-704d56869o] {
    display: flex;
    justify-content: space-between;
}

.cata[b-704d56869o] {
    background-color: #FB8500;
    padding: 0.5em;
}

.due-date-text[b-704d56869o] {
    margin-right: 5px;
    padding: 0.5em;
}

.due-date-text-overdue[b-704d56869o] {
    background-color: red;
    color: white;
}

.due-date-text-ontime[b-704d56869o] {
    background-color: green;
    color: white;
}


.status[b-704d56869o] {
    background-color: deepskyblue;
    padding: 0.5em;
}

.overdue[b-704d56869o] {
    background-color: red;
    padding: 0.5em;
    margin-left: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.priority[b-704d56869o]::-webkit-scrollbar {
    display: none;
}

 /*Hide scrollbar for IE, Edge and Firefox */
.priority[b-704d56869o] {
    -ms-overflow-style: none;  /*IE and Edge */
    scrollbar-width: none;  /*Firefox */
}