h4 {
    font-weight: bold;
}

.submit-button {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.submit-btn {
    width: 100%;
    height: 3rem;
}

.close-button {
    width: 100%;
}

.close-btn {
    width: 100%;
    height: 3rem;
}

.form-check-label {
    font-weight: normal;
}

label {
    font-weight: bold;
}
