@using KanBanTrials.Models;
@using System.Text.Json;
@inject NavigationManager NavigationManager


<div class="modal fade show" id="editTask" style="display:block" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Notes</h4>
            </div>
            <div class="modal-body">
                @if(Notes != null)
                {
                    foreach(var item in Notes)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="note-container" @onclick="(() => ViewSingleNote(item))">
                                    <span>@item.NoteDetail</span>
                                    <span>@item.DateRaised</span>
                                </div>
                            </div>
                        </div>
                    }                   
                }
                else
                {
                    <span>This task has no notes.</span>
                }
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <span><button type="button" class="close-btn btn btn-primary" @onclick="@ModalClose">Close</button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<TaskNote> Notes { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private TaskNote SelectedNote { get; set; }

    public void ModalClose()
    {
        OnClose.InvokeAsync(false);
    }

    public void ViewSingleNote(TaskNote note)
    {
        //SelectedNote = note;
        //string queryString = $"?NoteItem={System.Web.HttpUtility.UrlEncode(JsonSerializer.Serialize(SelectedNote))}";
        NavigationManager.NavigateTo($"/notedetail/{note.NoteId.ToString()}");
    }
     

}
